@import url(https://db.onlinewebfonts.com/c/0611588f0699473d38dcba9f36e14a6e?family=Zooja+W00+Regular);
html {
    background-image: url(./images/pattern.png);
}
.margin {
    margin-right: 30px;
    padding-bottom: 100px;
}
.navbar{
    display:flex;
    background-image: url(./images/pattern.png);
    padding:5px;
    justify-content: space-evenly;
    font-size: 40px;
    align-items: center;
    font-family: myFont;
    
}
.nav {
    margin-left: 100px;
}
.searchbar {
    background-color: #003638;
    display:flex;
    justify-content: center;
    font-size: 100px;
    padding-bottom: 10px;
}
a {
    color: #f2a183 
}
a:hover {
    color: black;
}
.logo {
    width: 100px;
    height: 100px;
}
@font-face {
    font-family: myFont;
    src: url(./LocalBrewerySans.ttf);
}
@font-face {
    font-family: myFont2;
    src: url("https://db.onlinewebfonts.com/t/0611588f0699473d38dcba9f36e14a6e.eot");
    src: url("https://db.onlinewebfonts.com/t/0611588f0699473d38dcba9f36e14a6e.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0611588f0699473d38dcba9f36e14a6e.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0611588f0699473d38dcba9f36e14a6e.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0611588f0699473d38dcba9f36e14a6e.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0611588f0699473d38dcba9f36e14a6e.svg#Zooja W00 Regular")format("svg");
}
.container {
    display: grid;
    padding: 20px;
    grid-template-columns: [first] 50% [second] 50% [end];
    grid-template-rows: [f] auto [s] auto [t] auto [end];;
}
.item-1{
    grid-column: first/second;
    grid-row: f/s;
}
.item-2{
    grid-column: second/end;
    grid-row: f/s;
    text-align: center;
    color: white;
}
.item-3{
    padding-top: 70px;
    padding-bottom: 70px;
    grid-column: first/end;
    grid-row: s/t;
    color:white
}
#h2 {
    padding: 15px;
}
.footer {
    display: flex;
    color:white;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f2a183 
}
.aboutus {
    text-align: center;
    font-size: 25px;   
    color:white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.test {
    font-size: 25px;   
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.h22 {
    font-size: 18px;
    text-align: justify;
    color: white;
}
#h11 {
    text-align: center;
}
#h111 {
    text-align: center;
}
#h222 {
    text-align: center;
}
#h1111 {
    text-align: center;
}
.addTest {
    color:white;
}
.contactus {
    text-align: center;
    font-size: 25px;   
    color:white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.contact {
    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
.FAQ {
    text-align: justify;
}
.gallery {
    display: grid;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-columns: [uno] 50% [dos] 50% [end];
    grid-template-rows: [u] auto [d] auto [end];
    gap: 30px;
}
.gallery1 {
    text-align: center;
    color:white;
    font-size: 50px;
    padding-left: 100px;
    padding-right: 100px;
}
.img1 {
    grid-column: uno/dos;
    grid-row: u/d;
}
.img2 {
    grid-column: dos/end;
    grid-row: u/d;
}
.img3 {
    grid-column: uno/dos;
    grid-row: d/end;
}
.img4 {
    grid-column: dos/end;
    grid-row: d/end;
}
@media (max-width: 479px) {
    img {
        width: 100%;
    }
}